{% extends 'base.html' %}
{% load staticfiles %}
{% load materialize %}

{% block content %}
    <div id="map"></div>

    <div id="form-overlay">
        <center>
            <h4>
                Nova Ocorrência
            </h4>
        </center>
        <div id="mover" class="mover"></div>
        <hr>
        <form method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-block alert-error">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
                </div>
            {% endif %}
            {{ form.categoria|as_material:"s12" }}
            {{ form.titulo|as_material:"s12" }}
            {{ form.descricao|as_material:"s12" }}
            {{ form.geom }}
            <button class="btn waves-effect waves-light" type="submit" name="action">
              Salavr Ocorrência
              <i class="mdi-content-send right"></i>
            </button>
        </form>
    </div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/select2/select2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/select2/select2_locale_pt-BR.js' %}"></script>

<script type="text/javascript">
    var geom = '{{ geom }}';
    $(document).ready(function(){
        init();
        load_cidade_geom();
        mapa_cidadao_draw_component(geom, '.container-full');
    });
</script>

{% endblock extra_js %}
