{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_toolkit %}

{% block extra_css %}
    <link href="{% static 'css/select2/select2.css' %}" rel="stylesheet">
    <link href="{% static 'css/select2/select2-bootstrap.css' %}" rel="stylesheet">
    <style type="text/css">
        #map{
            border-left: 10px #157065 inset;
            -webkit-border-bottom-left-radius: 5px;
            -moz-border-radius-bottomleft: 5px;
            border-bottom-left-radius: 5px;
        }
    </style>
{% endblock extra_css %}

{% block content %}
<div class="row-fluid">
    <div class="span4" style="padding-left:2.564102564102564%">
        <center>
            <h4>
                Editar Ocorrência: {{ form.instance.titulo }}
            </h4>
        </center>
        <hr>
        <form method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-block alert-error">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {{ form.categoria|as_bootstrap }}
            {{ form.titulo|as_bootstrap }}
            {{ form.descricao|as_bootstrap }}
            {{ form.geom }}
            <input type="submit" value="Salvar Ocorrência" class="btn btn-primary">
        </form>
        
    </div>
    <div class="span8">
        <div id="map"></div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/select2/select2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/select2/select2_locale_pt-BR.js' %}"></script>

<script type="text/javascript">
    var geom = '{{ geom }}';
    $(document).ready(function(){
        init();
        load_cidade_geom();
        mapa_cidadao_draw_component(geom, '.container-full');
        $("#id_categoria").select2({allowClear: false});
        var center;
        geom = wkt.read(geom);
        map.setCenter(geom.geometry.getBounds().getCenterLonLat(), 15);


    });
</script>

{% endblock extra_js %}
