{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>
                Saiba <small> um pouco sobre a nossa história</small>
            </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="well">
                <h4>Resumo</h4>
                <p>O Mapa do Cidadão é uma ferramenta de e-Gov e Smart Cities para o cadastro de ocorrências municipais, seu intuito é melhorar a cidadania e promover transparência para os dados de problemas municipais, utiliza o facebook como autenticação para diminuir o número de contas falsas aumentando a veracidade dos dados.</p>
                <p>Tem um sistema interno de Votos e Vetos para dar relevância ao dado, além de um sistema contra SPAMs que esconde ocorrências possivelmente falsas.</p>
                <p>Usa também o facebook para promover o compartilhamento das ocorrências para tornar o Mapa do Cidadão uma microrrede social.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}