{% load staticfiles %}{% load materialize %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <title>Mapa do Cidadão</title>

  <!-- Seo -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  
  <meta name="author" content="Marcelo Fonseca Tambalo">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="robots" content="index,follow">

  <!-- CSS  -->
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="{% static 'css/project.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
</head>
<body>
  <nav>
    <div class="nav-wrapper blue">
      <div class="col s12">
        -<a href="#!" class="brand-logo"><i class="mdi-maps-map left"></i> Mapa do Cidadão</a>
        <ul class="right hide-on-med-and-down">
          {% if search_form %}
          <li><a href="#" id="toggle-search"><i class="mdi-action-search left"></i>Busca</a></li>
          {% endif %}
          <li><a href="#"><i class="mdi-action-trending-up left"></i>Estatísticas</a></li>
          {% if user.is_anonymous %}
          <li><a href="{% url 'socialauth_begin' 'facebook' %}"><i class="mdi-social-public left"></i> Login com o Facebook</a></li>
          {% else %}
          <li><a href="#" class="navbar-link"><i class="mdi-action-view-list left"></i>Minhas Ocorrências</a></li>
          <li><a href="{% url 'logout' %}" class="navbar-link"><i class="mdi-action-exit-to-app left"></i>Sair</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% if search_form %}
  <div class="row blue darken-3" id="search">
    <div class="container">
      <form method="POST">
        {% csrf_token %}
        <div class="row">
          {{ search_form.categoria|as_material }}
          {{ search_form.status|as_material }}
        </div>
        <div class="row">
          {{ search_form.data_ini|as_material }}
          {{ search_form.data_fim|as_material }}
        </div>
        <div class="row">
          <div class="col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">Buscar
              <i class="mdi-content-send right"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col s12">
      {% block content %}
      {% endblock content %}
    </div>
  </div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{% static "js/materialize.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/lib/OpenLayers/Lang/pt-BR.js"></script>
<script src="{% static "js/project.js" %}"></script>
<script src="{% static "js/gis.js" %}"></script>

{% block extra_js %}
<script type="text/javascript">
    function load_ocorrencias() {
        var ocorrencia_layer = new OpenLayers.Layer.Vector("Ocorrências");
        var ocorrencias_wkt = [
            {% for ocorrencia in ocorrencias %}
            {
                'wkt': '{{ ocorrencia.point.wkt|safe }}',
                'name': '{{ ocorrencia.titulo }}',
                'description': '{{ ocorrencia.descricao|escapejs }}',
                'pk': '{{ ocorrencia.pk }}',
                'stylesheet': {{ ocorrencia.get_estilo|safe }},
            },
            {% endfor %}
        ];
        var ocorrencias_features = [];
        var ocorrencias_wkt_len = ocorrencias_wkt.length;
        for (var i = ocorrencias_wkt_len; i--;) {
            var feature = wkt.read(ocorrencias_wkt[i].wkt);
            feature.attributes.name = ocorrencias_wkt[i].name;
            feature.attributes.description = ocorrencias_wkt[i].description;
            feature.style = ocorrencias_wkt[i].style;
            ocorrencias_features.push(feature);
        }
        ocorrencia_layer.addFeatures(ocorrencias_features);
        ocorrencia_layer.events.register('featureclick', ocorrencia_layer, feature_click);
        ocorrencia_layer.events.register('nofeatureclick', ocorrencia_layer, popup_clear);
        map.addLayer(ocorrencia_layer);
        map.addControl(new OpenLayers.Control.DrawFeature(ocorrencia_layer, OpenLayers.Handler.Point));
    }
    $(document).ready(function(){
      init();
      load_cidade_geom();
      load_ocorrencias();
    });
</script>

{% endblock extra_js %}
</body>
</html>