{% extends 'base.html' %}{% load staticfiles %}{% load votacao %}

{% block content %}
<div class="row">
    <div class="col s12">
        <center>
            <h4>Minhas Ocorrências</h4>
        </center>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <table id="ocorrencias-table">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Status</th>
                    <th>Categoria</th>
                    <th>Detalhes</th>
                    <th><i class="mdi-action-delete"></i></th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td><a href="{% url 'ocorrencia_crud' object.pk %}">{{ object.titulo|default:'---' }}</a></td>
                        <td>{{ object.get_status_display }}</td>
                        <td>{{ object.categoria }}</td>
                        <td>
                            <a href="{% url 'ocorrencia_detail' object.pk %}" class="waves-effect waves-light">
                                <i class="mdi-image-details"></i>
                            </a>
                        </td>
                        <td>
                            <a href="#modal-delete" class="modal-delete waves-effect waves-light">
                                <input type="hidden" value="{{ object.pk }}">
                                <i class="mdi-action-delete"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id="modal-delete" class="modal">
    <div class="modal-content">
      <h4>Deletar Ocorrência</h4>
      <p>Você tem certeza que deseja deletar essa Ocorrência?</p>
    </div>
    <div class="modal-footer">
      <a id="modal-delete-yes" href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Sim</a>
      <a id="modal-delete-no"href="#" class="waves-effect waves-red btn-flat modal-action modal-close">Não</a>
    </div>
  </div>
{% endblock content %}
{% block extra_js %}
<script type="text/javascript">
    var delete_url = "{% url 'ocorrencia_delete' 0 %}?next={% url 'ocorrencia_list' %}";
    $(document).ready(function(){
        $('.modal-delete').leanModal();
        $('.modal-delete').click(function(){delete_url = delete_url.replace('0', $(this).find('input').val());});
        $('#modal-delete-yes').click(function(){window.location = delete_url;});
        $('#modal-delete-no').click(function(){delete_url = "{% url 'ocorrencia_delete' 0 %}?next={% url 'ocorrencia_list' %}";});
    });
</script>
{% endblock extra_js %}
