{% extends 'base.html' %}{% load staticfiles %}{% load materialize %}{% load compress %}
{% block extra_css %}{% include 'css_map_mobile.html' %}{% endblock extra_css %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <center>
                <h4>{% if form.instance.pk %}Editar{% else %}Nova{% endif %} Ocorrência</h4>
            </center>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div id="map"></div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <form method="POST">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-block alert-error">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                    </div>
                {% endif %}
                {{ form.categoria|as_material:"s12" }}
                {{ form.titulo|as_material:"s12" }}
                {{ form.descricao|as_material:"s12" }}
                {{ form.ponto }}
                <button class="btn waves-effect waves-light" type="submit" name="action">
                  Salvar Ocorrência
                  <i class="mdi-content-send right"></i>
                </button>
            </form>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">var geom = '{{ geom }}';</script>
{% compress js %}<script type="text/javascript">
    $(document).ready(function(){
        init();
        load_cidade_geom();
        mapa_cidadao_draw_component_mob(geom);

        if(geom){
            geom = wkt.read(geom);
            map.setCenter(geom.geometry.getBounds().getCenterLonLat(), 15);
        }
    });
</script>{% endcompress %}
{% endblock extra_js %}
