#search
{
  position: absolute;
  display: none;
  margin-bottom: 0;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  padding-top: 0px;
  min-width: 100%;
  z-index: 10;
}

#search form
{
  margin: 0;
}

#search input
{
  color: #ccc;
  border-bottom: 1px solid #333;
}

#search input:focus
{
  box-shadow: none;
  border-bottom: 1px solid #00AE96;
}
#map{
  left: 0;
  position: absolute;
  width: 100%;
  height:100%;
  background: white;
}

#add-ocorrencia{
  position:absolute; 
  right:90px; 
  top:70px;
  z-index:9;
  font-size: 3em;
  color: #000;
}

#legend-box{
  left:150px;
  bottom:0;
  border-radius:2px 0 0;
  -moz-border-radius:2px 0 0;
  -webkit-border-radius:2px 0 0;
  position:absolute;
  z-index:999999
}

#locate{
  position:absolute;
  right:35px; 
  top:70px;
  z-index:9;
  font-size: 3em;
  color: #000;
}

#form-overlay{
  position:absolute; 
  z-index:9997; 
  border: 1px #2196F3 inset;
  width: 500px;
  background-color:#ffffff;
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:5px;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.dropdown-content{
  z-index:9999!important; 
}

.popup-label {
  background-color: #fff;
  border: 2px #444 solid;
  border-radius: 7px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  color: #111;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 3px 6px;
  position: absolute;
  white-space: nowrap;
  top: -35px;
  left: 20px;
  display: none;
}

.popup-label img {
    vertical-align: middle;
}

.popup-label.marker:before {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  content: "";
  border-right: 6px solid black;
  border-right-color: inherit;
  position: absolute;
  left: -8px;
  top: 5px;
}

.mc_mover_form{
  height:48px;
  width: 48px;
  position:absolute;
  top:3px;
  right:3px;

  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  font-size: 3em;
}


ul.legenda-c3{
    list-style-type: disc;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    list-style-position: inside;
}